/* styles.css */

.container {
    background-color: #d82626;
    border: 5px solid #0b0bff;
    /* padding: 20px;
    margin: 20px;
    border-radius: 5px; */
}

/* styles.css */
.myDiv {
    background-color: #f40606;
    padding: 200px;
    border-radius: 500px;
    padding: 200px;
    margin: 200px;
    border-radius: 500px;
}
