/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FFCD00;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Arial', sans-serif; 
    font-size: 36px; 
    font-weight: bold; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    color: #333; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.footer {
    background-color: #c00a343d;
    color: #FFFFFF;
    margin-top: 3rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .logo-font {
    vertical-align: middle
}

.footer .attribution {
    vertical-align: middle;
    margin-left: 10px;
    font-size: .8rem;
    color: #bbb;
    font-weight: 300
}

/* Login View */
.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    padding: 20px 30px; /* Adjusted padding */
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #C00A35;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    width: 100%; 
    padding: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #C00A35;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover {
    background-color: #FFCD00;
}

/* Code Problem View */
.problem-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.problem-container h2.title {
    color: #000000; /* Title color */
    margin-bottom: 10px;
}

.problem-container ul.problem-tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.problem-container ul.problem-tags li {
    display: inline;
    margin-right: 10px;
    background-color: #FFCD00; /* Tag background color */
    padding: 5px 10px;
    border-radius: 5px;
}

.problem-container p.info-line {
    margin-bottom: 10px;
}

.problem-container span.info-value {
    font-weight: bold;
}

.problem-container hr {
    border: none;
    height: 1px;
    background-color: #C00A35; /* Horizontal rule color */
    margin: 20px 0; /* Margin top and bottom */
}

.problem-container div.description {
    margin-top: 20px;
    color: #000000; /* Description text color */
}

.problem-container div.button-group button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C00A35;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.problem-container div.button-group button:hover {
    background-color: #FFCD00;
}
